<% content_for :mHeader do %>
    <%= stylesheet_link_tag 'table', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>

<% content_for :mFrame do %>

<script type="text/javascript">
  updateUrl();
</script>

<!--<div id="left">-->
        <div class ="navbarfix-right">
          <%= link_to "PROTECTED ", {:controller => :protected, :action => :index}, style: "color: black; text-decoration: none; padding: 5px" %>
          <!--</div>-->
          
          <!--<div id="left">-->
          <% if user_signed_in? %>
          
              <% if current_user.admin? %>
                  <a href="/admin/">Admin page</a>     
              <% else %>
                  <%= link_to('EDIT PREFERENCE', edit_preference_path( current_user.id ) , style: "color: black; text-decoration: none; padding: 5px") %>        
              <% end %>
                   
          <% else %>
                 <a href="/text" style= "color: black; text-decoration: none; padding: 5px" >LOREM</a>
                  <a href="/users/sign_up" style= "color: black; text-decoration: none; padding: 5px">REGISTER</a> 
                  <%= link_to('LOGIN', new_user_session_path, {style: "color: black; text-decoration: none; padding: 5px"}) %>  
                
          <% end %>
        </div>
        
        <!--</div>-->
    </div>

<% end %>


<div id="indexwrap" id="home" name="home">
	<div class="header-title">
		<div id="header-text">FIND THE CAREER YOUR DESERVE</div>
		<div id="header-text">START CONTRIBUTING NOW</div>
		<% if user_signed_in? %>
		<br>
		<br>
  <a href="/posts/new" data-turbolinks="false" class="btn btn-lg btn-info" style=" color: white; " >CREATE A POST</a><br>
  <%= link_to 'Test email', { controller: "authentications", action: "mail", :uid => current_user.id } %>
<% end %>
	</div>
</div>




<div class="container">
  <div class="row">
    <div class="browse-listing col-xs-12">
      <h2 class="centered centered-title" style="color: #797979">BROWSE LISTINGS</h2>
      <br>
      <br>
      <br>
      <br>
      <div class="review-list">
        <ul class="review-table">
          <% @posts.each do |post| %>
          
          <li id="review-slot">
            <div class="review-slot-about">
              <div class="post-slot-name post-slot-column">
                <h3 class="post-slot-owner-name"><%= post.owner_name %></h3>
                <div class="post-slot-title"><%= post.title %></div>
              </div>
              
              <div class="post-slot-type post-slot-column">
                <div class="post-slot-button btn btn-success"><%= post.type %></div>
              </div>
            </div>
          
          </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>

